#####################
# BUILD CONFIGURATION
#####################
# Performance: avoid stat'ing input files
build --watchfs

# Set shorter timeout to kill processes
build --local_termination_grace_seconds=3
build --strategy=BundlingTypes=remote,sandboxed,local
build --spawn_strategy=local

##################################
# Set java language to jdk 17    #
##################################
build --java_language_version=17
build --java_runtime_version=17
build --tool_java_language_version=17
build --tool_java_runtime_version=17
test --java_language_version=17
test --java_runtime_version=17
test --tool_java_language_version=17
test --tool_java_runtime_version=17
